<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/43dc096b-c964-4501-b0aa-893dfc02a29e/resourceGroups/ColinNewTest/providers/Microsoft.Web/sites/colinnewtest</ResourceId>
    <ResourceGroup>ColinNewTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://colinnewtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>97b4f421-80b4-4ed5-b700-1c9d7422924d</ProjectGuid>
    <PublishUrl>https://colinnewtest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$colinnewtest</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>